<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <ul>
        <li>About</li>
        <li>Contact</li>
        <li>Terms and conditions</li>
        <li>FAQ</li>
      </ul>
    </div>
      <div class="col-md-6 col-xs-12">
        <li><i class="fa fa-facebook-official" aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
        <li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li>
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
      </div>
  </div>
</div>
