<footer>
<div class="container-fluid main">
  <div class="row" align="center">
    <div class="col-md-12 col-xs-12" >
      <ul>
        <li class="remove">About</li>
        <li class="remove">Contact</li>
        <li class="remove">Terms and conditions</li>
        <li class="remove">FAQ</li>
      </ul>
    </div>
    </div>
    <div class="row" align="center">
      <div class="col-md-12 col-xs-12">
        <li><a class="remove" href="http://facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a class="remove"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a class="remove"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
        <li><a class="remove"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      </div>
  </div>
</div>
</footer>
